<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>STAT-TRACKER</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>

<body>
  <div class="maintitle">Welcome to Stat - Tracker,
    {{#users}}{{username}}{{/users}}
  </div>

  <div class="bodywrapper">

    <form class="category_input1" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 1: Click 'Back to All Categories' to Create Additional Categories</div>
      </div>
      <label class="title2a">New Category</label>
      <input autocomplete="off" disabled="disabled" class="input1" required type="text" name="category" value="go back to enter category">

      <div class="labelAndCheckbox">
        <div class="title1container4">
        <div class="title1a">Step 2: Select a Category</div>
      </div>
        <label class="title2a">Category Name:</label>


      </div>

    </form>

    <form class="activity_input" action="/api/:{{#activities}}{{category}}{{/activities}}" method="post">
      <div class="title1container">
        <div class="title1">Step 3: Use the Input Fields to Add an Activity to the Category You Selected</div>
      </div>
      <div class="formcontainer">


        <div class="formInput">

          <div class="labelAndCheckbox">
            <label class="title2">Category Name:</label>

            {{#categories}}
              <div class="act"> {{activity_type}}
              </div>
            {{/categories}}
          </div>

          <div class="title2">Enter activity</div>
          <input autocomplete="off" class="input" required type="text" name="activity" placeholder="leisure, exercise, business, etc.">

          <div class="title2">Enter quantity completed</div>
          <input autocomplete="off" class="input" required type="text" name="quantity" placeholder="100, 10, 5, etc.">

          <div class="title2">Enter metric</div>
          <input autocomplete="off" class="input" required type="text" name="metric" placeholder="miles, reps, amount, etc.">

          <input class="form__submit-button" type="submit">

          <div><a class="back2cat" href="/api/home">back to all categories</a></div>

        </div>
      </div>
    </form>



    <div class="activityname">
      <div class="title1container">
        <div class="title1">Step 4: Click on an Activity to See More Information About a Specific Activity</div>
      </div>

      <label class="title2">Activites for: {{#categories}}<div class="act">{{activity_type}}</div>{{/categories}} </label>
      {{#activities}}
        <div class="act"><a>{{activity_name}}</a></div>
      {{/activities}}
    </div>

  </div>
</body>

</html>
