<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>STAT-TRACKER</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
</head>

<body>
  <div class="maintitle">Welcome to Stat - Tracker,
    {{#users}}{{username}}{{/users}}
  </div>

  <div class="bodywrapper">

    <form class="category_input1" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 1: Click 'Back to All Categories' to Create Additional Categories</div>
      </div>
      <label class="title2a">New Category</label>
      <input autocomplete="off" disabled="disabled" class="input1" required type="text" name="category" value="go back to enter category">

      <div class="labelAndCheckbox">
        <div class="title1container4">
          <div class="title1a">Step 2: Select a Category</div>
        </div>
        <label class="title2a">Category Name:</label>


      </div>

    </form>
    <div class="activity_input">
      <form action="{{#activities}}{{category}}{{/activities}}" method="post">
        <div class="title1container">
          <div class="title1">Step 3: Use the Input Fields to Add an Activity to the Category You Selected</div>
        </div>
        <div class="formcontainer">


          <div class="formInput">

            <div class="labelAndCheckbox">
              <label class="title2">Category Name:</label>


                <div class="act">
                  {{#categories}}
                   {{activity_type}}
                   {{/categories}}
                </div>


            </div>

            <div class="title2">New Activity</div>
            <input autocomplete="off" class="input" required type="text" name="activity">

            <div class="title2">Quantity</div>
            <input autocomplete="off" class="input" required type="text" name="quantity">

            <div class="title2">Unit of Measurement</div>
            <input autocomplete="off" class="input" required type="text" name="metric">

            <input class="form__submit-button" type="submit">

          </div>
        </div>
      </form>
      <div><a class="back2cat" href="/api/home">back to all categories</a></div>
    </div>


    <div class="activityname">
      <div class="title1container">
        <div class="title1">Step 4: Click on an Activity to See More Information About a Specific Activity</div>
      </div>


        {{#activities}}
      <div class="categoryTitle">
        {{category}}
      </div>

      <div class="activityDateContainer">
        <span>
             While doing
          </span>
        <span class="bold">
          {{category}}
          </span>
          <span>
               stuff,
            </span>
        <span class="bold">
            {{#users}}{{username}}{{/users}}
          </span>
        <span>
             completed
          </span>
        <span class="bold">
          {{quantity}}
          </span>
        <span class="bold">
          {{metric}}
          </span>
        <span>
            of
          </span>
        <span class="bold">
          {{activity_name}}
          </span>
        <span>
             on this date:
          </span>
        <span class="bold">
          {{date}}
          </span>
      </div>
      {{/activities}}
      <div><a class="back2cat" href="/api/home">back to all categories</a></div>

    </div>

    </div>

  </div>
</body>

</html>
