<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>STAT-TRACKER</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>

<body>
  <div class="maintitle">

    Welcome to Stat - Tracker,
    {{#users}}{{username}}{{/users}}
  </div>

  <div class="bodywrapper">

    <form class="category_input1" action="/api/home" method="post">
      <div class="title1container2">
        <div class="title1">Step 1: Create a New Category</div>
      </div>
      <label class="title2">New Category</label>
      <input autocomplete="off" class="input" required type="text" name="category" placeholder="leisure, exercise, business, etc.">
      <input class="form__submit-button" type="submit">

      <div class="labelAndCheckbox">
        <label class="title2">Category Name:</label>

        {{#categories}}
          <div class="act"><a href= {{activity_type}} value= {{activity_type}}>{{activity_type}}</a>
          </div>
        {{/categories}}
      </div>

    </form>
    <form class="activity_input1" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 2: To Add an Activity to a Specific Category, Click on a Category in the List to the Left</div>
      </div>
      <div class="formcontainer">

        <div class="formInput">
          <div class="title2a">Enter activity</div>
          <input disabled="disabled" class="input1" required type="text" name="activity" value="select category first!">

          <div class="title2a">Enter quantity completed</div>
          <input disabled="disabled" class="input1" required type="text" name="quantity" value="select category first!">

          <div class="title2a">Enter metric</div>
          <input disabled="disabled" class="input1" required type="text" name="metric" value="select category first!">

        </div>
      </div>
    </form>



    <div class="activityname">
      <div class="title1container">
        <div class="title1">Step 3: Click on an Activity to See More Information About a Specific Activity</div>
      </div>
      <label class="title2">Activity Name:</label>
      {{#activities}}
        <div>{{activity_name}}</div>
        <div>{{metric}}</div>
        <div>{{quantity}}</div>
      {{/activities}}
      {{#dates}}
        <div>{{date}}</div>
      {{/dates}}
    </div>

  </div>
</body>

</html>
