<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STAT-TRACKER</title>
    <link rel="stylesheet" href="/statstyles.css">
  </head>
  <body>
    <div class="activityContainer">


      <div class="listItem">
        <div>{{#activities}}
          <div>{{activity_name}}</div>
          <div>{{_id}}</div>
          <div>{{quantity}}</div>
          <div>{{date}}</div>
          {{/activities}}</div>





      </div>

    </div>
  </body>
</html>
