<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>STAT-TRACKER</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
</head>

<body>
  <div class="maintitle">



    <div class="loginContainer">

      <div><a class="loginlink" href="/api/login/">Login</a></div>
      <div><a class="loginlink" href="/api/signup/">Signup</a></div>

    </div>
    <div>Welcome to Stat - Tracker</div>
  </div>

  <div class="bodywrapper">

    <form class="category_input" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 1: Create a New Category</div>
      </div>
      <label class="title2a">New Category</label>
      <input disabled="disabled" class="input1" required type="text" name="category" placeholder="please login">


      <div class="labelAndCheckbox">
        <label class="title2a">Category Name:</label>
      </div>

    </form>
    <form class="activity_input" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 2: To Add an Activity to a Specific Category, Click on a Category in the List to the Left</div>
      </div>
      <div class="formcontainer">

        <div class="formInput">
          <div class="title2a">Enter activity</div>
          <input disabled="disabled" class="input1" required type="text" name="activity" placeholder="please login">

          <div class="title2a">Enter quantity completed</div>
          <input disabled="disabled" class="input1" required type="text" name="quantity" placeholder="please login">

          <div class="title2a">Enter metric</div>
          <input disabled="disabled" class="input1" required type="text" name="metric" placeholder="please login">

        </div>
      </div>
    </form>



    <div class="activityname">
      <div class="title1container">
        <div class="title1a">Step 3: Click on an Activity to See More Information About a Specific Activity</div>
      </div>
      <label class="title2a">Activity Name:</label>
    </div>

  </div>
</body>

</html>